.twitter_users {
    display: flex;
    flex-direction: column;
    gap: 3rem
}

.twitter_user {
    display: grid;
    grid-template-columns: 16rem auto;
    position: relative;
}

.twitter_user:not(:last-child)::after {
    content: '';
    height: 2px;
    width: calc(100% - 1rem);
    position: absolute;
    background-color: #dce1ee;
    bottom: -1.5rem;
    border-radius: 4px;
    left: .5rem;
}

.twitter_user_text {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.twitter_user_text > * {
    margin: 0;
}

.twitter_user_text > p {
    font-weight: 500;
    color: #63687a;
}

.twitter_user_icon{
    color: #24a4f2;
    transform: translateY(2px);
    margin-right: .5rem;
}

.twitter_user_username {
    width: fit-content;
    display: flex;
}

.twitter_user_username:hover {
    text-decoration: underline;
    cursor: pointer;
}

.twitter_user_graph {
    /* background-color: #24a4f2; */
}

.link {
    color: #24a4f2;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}